.wp-block-freddo-plus-menu-card-group {
    display: grid;
    gap: 1rem;
    margin: 1rem 0;
}

.columns-2 {
    grid-template-columns: repeat(2, 1fr);
}
.columns-3 {
    grid-template-columns: repeat(3, 1fr);
}
.columns-4 {
    grid-template-columns: repeat(4, 1fr);
}

/* Editor Styles */
.wp-block-freddo-plus-menu-card-group[data-type="freddo-plus/menu-card-group"] {
    display: inherit;
}

.wp-block-freddo-plus-menu-card-group[data-type="freddo-plus/menu-card-group"] .block-editor-block-list__layout {
    display: grid;
    gap: 1rem;
    margin: 1rem 0;
}

.wp-block-freddo-plus-menu-card-group[data-type="freddo-plus/menu-card-group"].columns-2 .block-editor-block-list__layout {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.wp-block-freddo-plus-menu-card-group[data-type="freddo-plus/menu-card-group"].columns-3 .block-editor-block-list__layout {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.wp-block-freddo-plus-menu-card-group[data-type="freddo-plus/menu-card-group"].columns-4 .block-editor-block-list__layout {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}


@media screen and ( max-width: 768px ) {
    .columns-2,
    .columns-3,
    .columns-4 {
        grid-template-columns: repeat(2, 1fr);
    }
}