.products-group-block {
    display: grid;
    gap: 1rem;
}

/* Cantidad de columnas en el bloque */
.products-group-block.cols-1 {
    grid-template-columns: 1fr;
}
.products-group-block.cols-2 {
    grid-template-columns: repeat(2, 1fr);
}
.products-group-block.cols-3 {
    grid-template-columns: repeat(3, 1fr);
}
.products-group-block.cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.products-group-block .product__card * {
    margin: 0;
}

.products-group-block .product__card a { text-decoration: none;}

.products-group-block .product__card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #F9F9F9;
    padding: 1.2rem;
}

.products-group-block .product__card .card__header {
    position: relative;
    display: flex;
    height: 250px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.products-group-block .product__card .card__header .new__badge {
    width: 70px;
    text-align: center;
    color: #fff;
    background: #F3C342;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 800;
    position: absolute;
    top: 0;
    left: 0;
}

.products-group-block .product__card .card__header .sale__badge {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    background: #FF3623;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 10px;
    font-weight: 800 ;
}

.products-group-block .product__card .card__header img {
    height: 90%;
    width: 90%;
    object-fit: contain;
}

.products-group-block .product__card .card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
}

.products-group-block .product__card .card__body .info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.products-group-block .product__card .card__body .info h3 {
    font-size: 1rem;
    font-weight: 800;
    line-height: 1;
}

.products-group-block .product__card .card__body .info p {
    font-size: .65rem;
    font-weight: 300;
}

.products-group-block .product__card .card__body .price__holder {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.products-group-block .product__card .card__body .price__holder .price-scratched {
    text-decoration: line-through;
    font-size: 14px;
}

.products-group-block .product__card .card__body .price__holder .short-description {
    font-size: 12px;
}

.products-group-block .product__card .card__body .footer button {
    background-color: transparent;
    border: solid 1px #424243;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #424243;
    font-size: 14px;
    font-weight: 800;
    transition: all ease 300ms;
}

.products-group-block .product__card .card__body .footer button:hover {
    background-color: #F3C342;
    border-color: transparent;
    /* color: #fff; */
    box-shadow: -3px -3px 6px rgba(255,255,255,.25), 3px 3px 6px rgba(0,0,0,.15);
}

@media screen and (max-width: 1024px) {
    .products-group-block.cols-3,
    .products-group-block.cols-4 {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .products-group-block.cols-1,
    .products-group-block.cols-2,
    .products-group-block.cols-3,
    .products-group-block.cols-4 {
        grid-template-columns: 1fr;
    }
}